.App {
  text-align: center;
  width:100%
}

.App-logo {
  animation: App-logo-spin infinite 20s linear;
  height: 40vmin;
  pointer-events: none;
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

.a-star-medium-4{
  background-position: -24px -396px;
}
.a-icon-star-medium {
  width: 95px;
  height: 21px;
  margin-right: 1px;
  top: -2px;
}
.a-icon-star-medium{
  position: relative;
    vertical-align: text-top;
}
i {
  font-style: italic;
}
.popup-width{
  width: 300px !important
}
.product_container1{
  display: flex;
  flex-wrap: wrap;
  margin: 0% 30%;
  margin-top: 10%;
  width: 900px;
}
.products1{
  width: 220px;
  height: 100px;
  line-height: 75px;
  box-shadow: -5px 5px 2px gray; 
  /* background-color: #B0BEC5; */
  /* color: #ffffff */
  /* border: 2px solid #2c4160; */
  margin: 1px  auto;
  font-family: 'Courier New', Courier, monospace
}
.BoxName{
  /* font-weight: 500; */
  text-align: center;
}
.orders{
  margin: 2% 30%;
  width: 900px;
  
}
.td{
  padding: 10px;
  /* padding-bottom: 0px; */
  border: 2px solid black;
  width: 200px;
  text-align: center;
  font-weight: bold;
}





@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
